*.pyc
*.pyo
*.egg-info
*.sqlite3
.pytest_cache
docs/site/
docs/sources/
docs/theme/
tests/.pytest_cache

# developer enviroments
.vscode/
spaceCombat/spaceCombatApp/.vscode
spaceCombat/spaceCombatServer/.vscode

# project configuration files
spaceCombat/spaceCombatServer/spaceCombatServer/settings.py
